extends ../_layout

block app-title
    | Creation d'évenement | ThisEvent

block vars
   - var bodyClass = 'register page-create-event';

block content
    .top-container
        .inner-bg
            .container
                .row
                    .col-sm-8.col-sm-offset-2.text
                    h1
                        strong Createur de l'évenement
                    .description
                        p
                .row
                    .col-sm-8.register-form-wrapper
                        .form-box
                            .form-top
                                .form-top-left
                                    h3 Créer votre évenement
                                    p Remplire la formulaire ci-dessous:
                                .form-top-right
                                   i.fa.fa-calendar-o
                            .form-bottom

                                #error-container.alert.alert-warning
                                    strong Les erreurs suivant doivent étre correcter:
                                    ul
                                form(role="form" enctype="multipart/form-data" action="" method="post" class="registration-form" id="user-create-form")
                                    .form-group
                                        label(class="sr-only" for="form-name")
                                        input(type="text"
                                              name="name"
                                              placeholder="Nom..."
                                              class="form-name form-control"
                                              id="form-name")
                                        span.error
                                    .form-group
                                        label(class="sr-only" for="form-email")
                                        select(name="eventType" id="eventType-drop-down" class="form-control")
                                            option(selected disabled) Choisir une catégorie
                                            each eventType in eventTypes
                                                option(value= eventType.name)= eventType.name

                                        span.error
                                    .form-group
                                        label(class="sr-only" for="form-password")
                                        select(name="country" id="country-drop-down" class="form-control")
                                            option(selected disabled) Choisir payée
                                            each country in countries
                                                option(value= country.name)= country.name
                                        span.error
                                    .form-group
                                        label(class="sr-only" for="form-password")
                                        select(name="city" id="city-drop-down" class="form-control") |
                                            option(selected disabled) Choisir la ville
                                            each city in cities
                                                option(value= city.name id="city-option" country= city.country.name)= city.name
                                        span.error
                                    .form-group
                                        label(class="sr-only" for="form-address")
                                        input(type="text"
                                              name="address"
                                              placeholder="Adresse.."
                                              class="form-address form-control"
                                              id="form-address")
                                        span.error
                                    .form-group
                                        label(class="sr-only" for="form-description")
                                        textarea(type="text"
                                                 name="description"
                                                 placeholder="Description..."
                                                 class="form-description form-control"
                                                 id= "event-description")
                                        span.error
                                    .form-group
                                        label(class="sr-only" for="form-dateOfEvent")
                                        input(type="text"
                                              name="dateOfEvent"
                                              placeholder="Date début..."
                                              class="form-dateOfEvent form-control datepicker"
                                              id="")
                                        span.error
                                    .form-group
                                        label(class="sr-only" for="form-endDateOfEvent")
                                        input(type="text"
                                              name="endDateOfEvent"
                                              placeholder="Date fin..."
                                              class="form-dateOfEvent form-control datepicker"
                                              id="")
                                        span.error
                                    .form-group
                                        label(class="sr-only" for="form-capacity")
                                        input(type="text"
                                              name="capacity"
                                              placeholder="Capacité.."
                                              class="form-capacity form-control"
                                              id="form-capacity")
                                        span.error
                                    label Vous pouvez choisir l'url de cover de votre évenement ou uploader l'image..
                                    .form-group
                                        label(class="sr-only" for="form-coverUrl")
                                        input(type="text"
                                              name="coverUrl"
                                              placeholder="Cover Url.."
                                              class="form-coverUrl form-control"
                                              id="form-coverUrl")
                                        span.error
                                    .form-group
                                        label(class="sr-only" for="form-file") File
                                        input(type="file"
                                              multiple="multiple"
                                              name="file"
                                              class="form-file form-control"
                                              id="form-file")
                                        span.error
                                    button(type="button" class="btn" id="create-button") Créer l'évenement
block specificJs
    script(src="/static/scripts/utils/validator.js")
    script(src="/static/scripts/events/create-event.js")