extends ../_layout

block app-title
    | Evenement | ThisEvent

block vars
   - var bodyClass = 'events-list inner';

block additionalCss
    link(rel="stylesheet", href="/static/styles/events-list.css")

block content
    .top-container
        .inner-bg
            .container-fluid
                div#events-block-it
                    div.title
                        h1
                            |  Découvrire
                            strong  Les Evenement
                            |  Facilement
                        i(class="fa fa-diamond fa-2x fa-fw")
                        p Parcourez le catalogue d'événements en cours et trouvez les événements qui vous conviennent le mieux...

                    div#search.button-group
                        form.form-inline(action="/events/search" method="GET")
                            input.form-control(type="text" placeholder="Pays" name="country" value= country)
                            input.form-control(type="text" placeholder="Ville" name="city" value= city)
                            input.form-control(type="text" placeholder= "Nom d'evenement" name="name" value= name)
                            input.form-control(type="text" id="datepicker" placeholder="Date d'evenement" name="dateOfEvent" value= dateOfEvent)
                            button.button(class="btn button is-checked" data-filter="*") Rechercher
                    div#filters.button-group
                        button.button(class="btn button is-checked" data-filter="*") Afficher Tous
                        each category in events
                            - var trimmedCatName = category.name.replace(" ", "");
                            button.button(class="btn button" data-filter='.' + trimmedCatName)= category.name
                    div#sorts.button-group

                    div.grid
                        div.grid-sizer
                        each category in events
                            - var trimmedCatName = category.name.replace(" ", "");

                            each event in category.events
                                div(class="element-item " + trimmedCatName data-category=trimmedCatName)
                                    .overlay
                                        a(href='/events/' + event.id)
                                            h2.title= event.name
                                            div.desc
                                                p= event.description
                                            div.date
                                                strong Date:
                                                = ' '  + event.dateOfEvent.getFullYear() + '/' + (event.dateOfEvent.getMonth() + 1) + '/' + event.dateOfEvent.getDate()
                                            div.location
                                                strong Location:
                                                = ' ' + event.city.name + ', ' + event.country.name
                                    a(class='event-link' href='/events/' + event.id)
                                        if event.coverUrls[0]
                                            img(src=event.coverUrls[0])
                                        else
                                            img(src=event.coverUrl)
block specificJs
    script(src="/static/bower_components/isotope/dist/isotope.pkgd.js")
    script(src="/static/scripts/events/events-list.js")




